h1{
	text-align: center;
	padding: 10px
}
p{
	padding: 10px;
	text-align: center;
}
.hrefsAndMap{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr ;
}
.hrefs{
	grid-area: 1 / 1 / 2 / 2;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
#map {
	grid-area: 1 / 2 / 2 / 4;
   	width: 100%;
   	height: 400px;
	padding-right: 20px;
 }