@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400i');
.application{
	display: grid;
	grid-template-rows: 60px 1fr 80px;
}
.main{
	display: grid;
	grid-template-columns: 1fr;
}
.sidebar_menu{
	border-right: solid 1px  #002538;
	border-bottom: solid 1px  #002538;
	padding: 5px;
}
.header-6{
	position: fixed;
	width: 100%;
	z-index: 10;
	margin-bottom: 75px;
}
app-sidebar{
	z-index: 2;
	position: fixed;
	padding-top: 60px;
	top: 0;
	left: 0;
	height: 100vh;
	width: 300px;
	background-color: white;
}
app-authentification{
	grid-area: 1 / 2 / 2 / 3;
}
app-contacts{
	grid-area: 1 / 1 / 2 / 4;
}
.content{
}
.time{
	margin-left: 50px;
	font-family: 'Roboto Condensed', sans-serif;
}
footer{
	text-align: center;
}