.application{
	display: grid;
	grid-template-rows: 60px 1fr 80px;
}
.main{
	display: grid;
	grid-template-columns: 1fr;
}
.mainWithSidebar{
	display: grid;
	grid-template-columns: 300px 1fr;
}
.sidebar_menu{
	grid-area: 1 / 1 / 2 / 2;
	border-right: solid 1px  #002538;
	border-bottom: solid 1px  #002538;
	padding: 5px;
}
app-authentification{
	grid-area: 1 / 2 / 2 / 3;
}
app-contacts{
	grid-area: 1 / 1 / 2 / 4;
}
.content{
}
footer{
	text-align: center;
}