<div class="wrapper">
	<swiper class="swiper" [config]="config" [(index)]="index">
		  <div class="swiper-slide">
			<img src="/assets/img/s1.png">
		  </div>
		  <div class="swiper-slide">
			<img src="/assets/img/s2.png">
		  </div>
		  <div class="swiper-slide">
			<img src="/assets/img/s3.png">
		  </div>
	</swiper>
</div>
<h1 class="labe">HOT LOTS!</h1>
<div class="content">
	<div *ngFor="let lot of lots" class="showHotLot">
		<h3 class="name">{{lot.name}}</h3>
		<div class="lot_img"  [ngStyle]="{'background-image': 'url(' + lot.img[0] + ')'}"></div>
		<p class="price">Цена - {{lot.currentPrice}} uah</p>
		<div class="buttons">
			<button class="btn btn-block btn-primary" routerLink="lots/detail/{lot.id}">more</button>
			<button class="btn btn-block btn-success">raise</button> 
		</div>
	</div>	
</div>
