
.wrapper{
	margin: 20px auto;
	width: 720px;
	height: 380px;
}
.content{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr ;
}
.swiper{

}

.swiper-slide img{ 
	width: 720px;
	height: 380px;
}
